# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ
.idea/
*.iml
*.iws
out/

# Systemy operacyjne
.DS_Store
Thumbs.db

# Pliki kompilacji
*.class
*.jar
*.war
*.ear

# Logi
*.log